%tr[todo]
  %td.actions
    = link_to 'up', :action => 'move_up', :id => todo.id
    %br
    = link_to 'down', :action => 'move_down', :id => todo.id
  %td= todo.title
  %td= todo.description
  %td= todo.due_date